<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ title }}</title>
		<meta name="color-scheme" content="dark light">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">
		<link rel="icon" href="/favicon.svg">
		<meta name="theme-color" content="#0692aa">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<nav>
				<a href="/" id="site-root" class="nav-menu-item">rpqt.fr</a>
				<ul class="nav-menu">
					{{ for item of ["now", "projects", "socials"] }}
						<li>
							<a href="/{{ item }}" class="nav-menu-item"
								{{ url.startsWith("/" + item) ? 'id="header-nav-current"' : '' }}
							>{{ item }}</a>
						</li>
					{{ /for }}
				</ul>
			</nav>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			<div>© 2025 Romain Paquet</div>
			<div>Built with <a href="https://lume.land">lume</a> • <a href="{{ website_source }}">Source</a></div>
		</footer>
	</body>
</html>
