/* import fonts */

:root {
  --color-foreground: black;
  --color-foreground-dimmed: color-mix(in srgb, var(--color-foreground), transparent 40%);
  /* --color-accent: #0692aa; */
  --max-width: 900px;
  --font-base-size: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: white;
  }

  body {
    background: #222;
  }
}

body {
  font-family: "Atkinson Hyperlegible Next";
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
  max-width: var(--max-width);
  width: 100%;
  color: var(--color-foreground);
  font-size: var(--font-base-size);
  margin: 0 auto;
  padding: 0 max(25px, 5vw);
}

header {
  padding: 1em 0;
  width: 100%;
}

header>nav {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.nav-menu-item {
  text-decoration: none;
  color: var(--color-foreground);
}

.nav-menu-item:hover {
  text-decoration: underline;
}

#header-nav-current {
  font-weight: bold;
}

main {
  margin: 0 auto;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0.5em 0;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1em;
  font-size: smaller;
  color: var(--color-foreground-dimmed);
}

.card {
  border: 1px solid var(--color-foreground-dimmed);
  border-radius: 16px;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.card hr {
  margin: 30px -1em 1em;
  border: 0;
  border-top: 1px solid var(--color-foreground-dimmed);
}

.pl-badge {
  --color: var(--color-foreground);
  border-radius: 8px;
  padding: 0em 0.5em;
  margin: 0em;
  display: inline-block;
  font-size: 0.9em;
  background: color-mix(in srgb, var(--color), transparent 60%);
  color: var(--color);
}

.pl-python3 {
  --color: goldenrod;
  background: color-mix(in srgb, gold, transparent 60%);
}

.pl-cpp {
  --color: blue;
}

.pl-csharp {
  --color: purple;
}

.pl-rust {
  --color: orangered;
}

/* An icon to be displayed within text, at the same size as the text */
.text-icon {
  height: 1em;
  width: 1em;
  display: inline;
  fill: var(--color-foreground);
  position: relative;
  top: .125em;
}